src/apps/mvvm-folders/schemas/commonschema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
 <xs:complexType name="Properties_t">
    <xs:attribute name="action" 
      type="xs:string" use="optional" />
    <xs:attribute name="thisDrive" 
      type="xs:string" use="optional" />
    <xs:attribute name="allDrives"
      type="xs:string" use="optional" />
    <xs:attribute name="userName" 
      type="xs:string"  use="optional" />
    <xs:attribute name="cpassword" 
      type="xs:string" use="optional" />
    <xs:attribute name="path" 
      type="xs:string" use="required" />
    <xs:attribute name="label" 
      type="xs:string" use="optional" />
    <xs:attribute name="persistent" 
      type="xs:unsignedByte" use="required" />
    <xs:attribute name="useLetter" 
      type="xs:unsignedByte" use="required" />
    <xs:attribute name="letter" 
      type="xs:string" use="required" />
   <xs:attribute name="disabled" 
      type="xs:unsignedByte" use="optional" />
 </xs:complexType>
</xs:schema>
